<div id="preloader">
  <div class="baking-loader-content">
    <div class="dots-container">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <p class="loading-text logo-font"><%= infoToko.namaToko %></p>
    <p class="sub-text">Sedang menyiapkan kelezatan...</p>
  </div>
</div>
